<!-- hw/templates/hw/home.html -->
{% extends 'hw/base.html' %}

{% block content %}
        <h1>About this page</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut debitis cupiditate iure tempore in suscipit harum. Nam illo assumenda totam, aut praesentium culpa dolorum pariatur minima dolores repellendus illum quas?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde omnis eaque repudiandae nemo veniam quasi obcaecati consequatur iure, recusandae doloribus, error expedita eos. Quasi quos nostrum eveniet temporibus at.
        </p>
{% endblock %}