<!--project/templates/project/show_post.html-->
<!--Ting Shing Liu, 12/9/25-->
<!--Template for displaying a single post in detail-->

{% extends 'project/base.html' %}

{% block content %}
<div class="post-detail">
    <h3><a href="{% url 'show_profile' post.profile.pk %}">{{ post.profile.name }}</a></h3>
    <p>{{ post.caption }}</p>
    <p class="timestamp">{{ post.timestamp }}</p>

    <div class="photos">
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.get_image_url }}" style="max-width: 100%; margin-bottom: 10px;">
        {% endfor %}
    </div>

    {% if request.user == post.profile.user %}
        <a href="{% url 'update_post' post.pk %}">Edit Caption</a> | 
        <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
    {% endif %}
</div>
{% endblock %}