<!-- quotes/templates/quotes/about.html -->
<!-- Ting Shing Liu, 9/9/25 -->
<!-- HTML for the About Page for the Quotes App -->
 
{% extends 'quotes/base.html' %}

{% block content %}
    <h1>About this page</h1>
    <p>
        David Goggins (born February 17, 1975) is an American motivational speaker, author, and retired United States Navy SEAL. 
        He is also an ultramarathon runner, ultra-distance cyclist, triathlete, public speaker and the author of two memoirs, 
        and was inducted into the International Sports Hall of Fame for his achievements in sports. 
        Goggins was also awarded the VFW Americanism award in 2018 for his service in the United States Armed Forces. 
        Goggins also published a New York Times Best Seller book titled Can't Hurt Me: Master Your Mind and Defy the Odds.
    </p>
{% endblock %}