<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!-- Ting Shing Liu, 9/25/25 -->
<!-- Profile page template for the mini insta webpage -->

{% extends 'mini_insta/base.html' %}
{% block content %}

<main>
    <!--CSS classes-->
    <article class="profile-bio">
        <img class="profile-pic" src="{{profile.profile_image_url}}" alt="{{profile.username}}">
        
        <div class="profile-info">
            <h2>{{profile.username}}</h2>
            <div class="profile-stats">
                <a href="{% url 'show_followers' profile.pk %}">{{ profile.get_num_followers }} Followers</a>
                <a href="{% url 'show_following' profile.pk %}">{{ profile.get_num_following }} Following</a>
            </div>
            <p>{{profile.bio_text | linebreaks}}</p>
            {% if request.user == profile.user %}
            <a href="{% url 'update_profile' %}">Update Profile</a>
            {% else %}
                {% if viewer_profile %} 
                    {% if viewer_profile in profile.get_followers %}
                        <form action="{% url 'unfollow' profile.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="action-button unfollow-button">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url 'follow' profile.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="action-button follow-button">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        </div>
    </article>
    <article class="posts-section">
        <h2>Posts</h2>
        
        <div class="grid-container">
            <!--We need to be able to access the photos in the Photos model but we only have access to the profile database.
            As such, we will do a for loop to use the get_all_posts method that accesses the posts because profile is foreign key
            to Post and Post is foreign key to Photo. The .first method gets the first instance of the get_all_photos method-->
            {% for post in profile.get_all_posts %}
                {% with first_photo=post.get_all_photos.first %}
                    <div class="grid-item">
                        <a href="{% url 'show_post' post.pk %}">
                            <!--If a photo exist, display it, else show a default no image image-->
                            {% if first_photo and first_photo.get_image_url %}
                                <img src="{{ first_photo.get_image_url }}" alt="{{ post.caption }}">
                            {% else %}
                                <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No Image">
                            {% endif %}
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </article>
</main>

{% endblock %}