<!-- mini_insta/templates/mini_insta/show_post.html -->
<!-- Ting Shing Liu, 10/2/25 -->
<!-- Show Post template for the mini insta webpage -->

{% extends 'mini_insta/base.html' %}
{% block content %}

<div class="posts-section">

    <div class="post-caption-detail">
        <p><strong>{{ post.profile.username }} 

        <!-- If there are any likes, display the string from the first Like object -->
        {% if post.get_likes %}
            <p>{{ post.get_likes.first }}</p>
        {% else %}
            <p>This post has no Likes</p>
        {% endif %}
            {{ post.caption }}</strong>
        </p>
        <!--using the timestamp attribute, style it using the pipeline | with the date method.
        F stands for full month, j for the day, and Y for the 4 digit year -->
        <p class="post-timestamp">{{ post.timestamp|date:"F j, Y" }}</p>
        {% if request.user == post.profile.user %}
        <a href="{% url 'update_post' post.pk %}">Update</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    </div>

    <div class="grid-container">
        {% for photo in post.get_all_photos %}
            <div class="grid-item">
                <img src="{{photo.get_image_url}}" alt="{{post.caption}}">
            </div>
        {% empty %}
            <p>This post has no photos.</p>
        {% endfor %}
    </div>
    <h3>Comments</h3>
    <div>
        {% for comment in post.get_all_comments %}
            <p>{{comment}}</p>
        {% empty %}
            <p>This post has no comments.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}